#d1 {
  background-color: white;
  border-radius: 10px;
  height: 450px;
  width: 300px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px black;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#img1{
    width: 280px;
}
#d2{
    width: 170px;
    margin:10px;
}
body{
    background-color: hsl(47, 88%, 63%);
}
h1{
    font-size: 22px;
}
#d6 {
    margin-left: 10px;
}
#d5 {
    margin-left: 10px;
}
#d4 {
    margin-left: 10px;
}
#d4 p{
    font-weight:200;
}
#d3 {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 80px;
    height: 30px;
    background-color: hsl(47, 88%, 63%);
    margin-left: 10px;
}
#d3 h2{
    font-size: 16px;
    font-weight: bold;
}
p{
    font-size: 16px;;
    text-align:left;
}
#img2{
    width: 35px;
}
#d7 p{
    font-weight: bold;
}
#d7 {
  margin-left: 10px;
  display: flex;
  align-items: center; 
  gap: 10px;         
}